# Ignore compiled executables (no extension)
*
!*.*
!*/

# Ignore other build artifacts
*.o
*.out
*.dSYM/

# Ignore VS Code settings
.vscode/

# Build artifacts
Debug/
Release/
*.o
*.elf
*.bin
*.map
*.hex
*.lst

# Kernel module build artifacts
*.ko
*.mod
*.mod.c
*.order
*.symvers
.*.cmd

# CubeIDE workspace metadata
.metadata/
.settings/
*.launch

#
.DS_Store
changed_files.txt